body {
    background-color: blanchedalmond;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #E26A2C;
    font-family: 'Sacramento', cursive;
    font-size: 5.5rem;
    margin: 15px auto 0px auto;
}

h2{
    color: #E26A2C;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #FF8243;
}
hr{
    border-top: 7px dotted #FFD07F;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    margin: 4rem auto;
    width: 15%;
}
p{
    color: #472B26;
    margin-bottom: 20px;
    line-height: 2;
}
a{
    color: brown;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}
a:hover{
    color:#FFD07F
}
#bottom-text{
    color:#FFD07F;
    font-size: 0.7rem;    
}
/****** class *******/
.top-container{
    background-color: #FFD07F;   
    
    width: 100%;
}
.pro{
    text-decoration: underline;
}

.middle-container{
    background-color: #FDA65D;
    padding: 2rem 0 2rem 0;
    
}
.intro{
    width:50%;
    margin: auto;
}
.profile-pic{
    width: 15%;
    height: 15%;
    padding: 10px;
}
.img-skill{
    width: 25%;
    height: 25%;
    padding: 10px;
    
}

.skill-row{
    margin: 3rem auto 3rem auto;
    vertical-align: top;
    width: 40%;
    height: 40%;
    display: inline-block;
}

.btn {
    background: #E26A2C;
    background-image: -webkit-linear-gradient(top, #E26A2C, #FF8243);
    background-image: -moz-linear-gradient(top, #E26A2C, #FF8243);
    background-image: -ms-linear-gradient(top, #E26A2C, #FF8243);
    background-image: -o-linear-gradient(top, #E26A2C, #FF8243);
    background-image: linear-gradient(to bottom, #E26A2C, #FF8243);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #FDA65D;
    background-image: -webkit-linear-gradient(top, #FDA65D, #FF8243);
    background-image: -moz-linear-gradient(top, #FDA65D, #FF8243);
    background-image: -ms-linear-gradient(top, #FDA65D, #FF8243);
    background-image: -o-linear-gradient(top, #FDA65D, #FF8243);
    background-image: linear-gradient(to bottom, #FDA65D, #FF8243);
    text-decoration: none;
  }

.bottom-container{
    background-color: #FF8243;
    padding: 15px 0 15px 0;
}

.footer-link{
    padding: 10px;
}

/**********        id           ****************/
#top-cloud{
    width: 100%;
}
#island{
    width: 100%;
}
#bottom-text{
    margin-bottom: 0;
}